input {
    height: 60px;
}

canvas {
    border-style: solid;
}

video {
    margin-top: 30px;
    border-style: solid;
}


div[id="controlButtons"] {
    margin-top: 120px;
}

div[id="webcamButtons"] {
    margin-top: 50px;
}

div[id="changeRobot_Cam"] {
    margin-top: 20px;
}

div[id="popupButtons"] {
    margin-top: 10px;
    border-left: 80px;
}
   

input[type=submit] {
    clear: both;
    display: inline-block;
    margin-top: 5px;
    border-style: outset;
    font-size: 20px;
    font-family:Arial;
    border-radius: 15px;
    font-weight: bolder;
    background: #5d6222;
    width: 115px;
    height: 60px;
    color: #000000;
}
    input[type=submit]:hover:enabled {
        opacity: 0.7;
    }

    input[type=submit]:disabled {
        clear: both;
        display: inline-block;
        border-style: hidden;
        cursor: no-drop;
        margin-top: 5px;
        font-size: 20px;
        font-family: Arial;
        border-radius: 15px;
        font-weight: bold;
        background: #888;
        width: 115px;
        height: 60px;
        color: #000000;
    }
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 50px; /* Location of the box */
        left: 0;
        margin-top: 50px;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 255, 144); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

/* Modal Content */
.modal-content {
    background-color: darkslategray;
    margin: auto;
    padding: 60px;
    border: 5px solid #888;
    width: 50%;
}

/** Robot and Webcam div changers*/
a{
    text-decoration: none;
    display: inline-block;
    opacity:0.7;
}

a:hover{
        opacity:1;
}
/*
.robot_class {
    background-color: darkslategray;
    color: white;
}
*/
.webcam_class {
    background-color: darkslategray;
    color: #0d0367;
    font-size: 16px;
    font: bold;
}

.round {
    border-radius: 50%;
}

.togglePrivate input {
    margin-top: 2px;
    height: 25px;
    width: 75px;
    font-weight: bolder;
    border: none;
}


.soundSlide {
    width: 80px;
    height: 26px;
    background: #333;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

    .soundSlide:after {
        content: 'OFF';
        color: #000;
        position: absolute;
        right: 10px;
        z-index: 0;
        font: 12px/26px Arial, sans-serif;
        font-weight: bold;
        text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
    }

    .soundSlide:before {
        content: 'ON';
        color: #27ae60;
        position: absolute;
        left: 10px;
        z-index: 0;
        font: 12px/26px Arial, sans-serif;
        font-weight: bold;
    }

    .soundSlide label {
        display: block;
        width: 34px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        top: 3px;
        left: 3px;
        z-index: 1;
        background: #fcfff4;
        background: -webkit-gradient(linear, left top, left bottom, from(#fcfff4), color-stop(40%, #dfe5d7), to(#b3bead));
        background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        border-radius: 50px;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    }

    .soundSlide input[type=checkbox] {
        visibility: hidden;
    }

        .soundSlide input[type=checkbox]:checked + label {
            left: 43px;
        }

